.hero {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: showHero .3s ease-in-out 4.2s 1 forwards;
    z-index: -1;
    background: url(https://hips.hearstapps.com/hmg-prod/images/2020-bmw-m4-edition-m-heritage-102-1567530299.jpg?crop=0.834xw:0.700xh;0.0765xw,0.300xh&resize=1200:*) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.middle-texts {
    max-width: 300px;
    color: #448AFF;
    position: absolute;
    top: 45%;
    right: 10px;
}

.middle-texts button {
    margin-top: 20px;
    background-color: transparent;
    color: #448AFF;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 20px;
    border: 2px solid #448AFF;
}

.bottom-texts {
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

@keyframes showHero {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (orientation: portrait) {
    .hero {
        background: url(https://images.unsplash.com/photo-1580551060937-28ccd45935ef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Ym13JTIwbTR8ZW58MHwxfDB8fHww&auto=format&fit=crop&w=500&q=60) no-repeat; 
    }

    .middle-texts {
        color: white;
    }

    .middle-texts button {
        color: white;
        border-color: white;
    }
}