.transparent {
    padding: 10px 20px;
}

@media (max-width: 500px) {
    .transparent {
        padding: 7px 7px;
    }
}

.main__header {
    position: fixed;
    overflow: hidden;
    height: fit-content;
}

.main__header h1 {
    /* font-size: 5vw; */
    animation: slideUP 1s ease-in-out 4s forwards;
    opacity: 0;
}

@keyframes slideUP {
    from {
        margin-top: 200px;
        opacity: 0;
    } to {
        margin-top: 0%;
        opacity: 1;
    }
}